* {
    margin: 0;
    padding: 0;
}

#brandLogo {
    margin-left: 10px;
}
#brandLogoSmall {
    margin-left: 10px;
}

nav ul a {
    color: black;
}

#aboutContain {
    max-width: 75%;
}

#bioText {
    display: block;
}

#portPic {
    max-width: 150px;
    float: left;
    margin-right: 10px;
    display: block;
}

h2 {
    font-size: 42px;
    margin-top: 0px;
}

#carouselContainer {
    height: 247px;
    overflow: show;
    margin-bottom: 10px;
}

#emailRow {
    height: 75px;
}

button {
    padding-bottom: 10px;
}

.navSpacer {
    min-height: 43.5px;
    max-height: 43.5px;
}
